.blogtitle {
  font-weight: 600;
  font-size: 2em;
  line-height: 1.5em;
  padding: 10px 0px 0px 0px;
}

.blogimg {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.card {
  padding: 30px;
  width: 520px;
}

h2 {
  margin: 0px!important;
}