@font-face {
    font-family: Inter;
    src: url(font/Inter-Regular.woff2);
  }

  @font-face {
    font-family: Inter;
    src: url(font/Inter-Bold.woff2);
    font-weight: bold;
  }

  @font-face {
    font-family: Inter;
    src: url(font/Inter-Medium.woff2);
    font-weight: 500;
  }

  @font-face {
    font-family: Inter;
    src: url(font/Inter-SemiBold.woff2);
    font-weight: 600;
  }

*,
body,
h1 {
	font-family: Inter, sans-serif;
}

	
.feed {
	width: 100%;
	justify-items: center;
}
img {
	width: 100%;
	border-radius:10px;
}	

@media only screen and (prefers-color-scheme: dark) {
	 body{
		color: #bce7ff;

	}
	body {
		background: #373b46;
		max-width: 1200px;
		margin: 20px auto;
	}

	button {
		outline: none;
		border: none;
		cursor: pointer;
	}
	a {
		text-decoration: none;
		color: #66a8ff;
	}

	.crossed {
		text-decoration: line-through;
	}

	#nav {
		z-index: 999999;
		background-color: #475364;
		box-shadow: inset 0 8px 19px 0px #00000036;
		position: fixed;
		top: 20px;
		border-radius: 20px;
		overflow: hidden;
	}

	h2 {
		color: #bce7ff;

	}
	
	.small-card, .small-card-highlight, .feed-item {
		background-color: #5b708877;
		box-shadow: inset 0 8px 19px 0px #00000036, 0 8px 19px 0px #00000000;
		color: #bce7ff;
		padding: 40px;
		border-radius: 20px;
		position: relative;
		width: calc(50% - 12.5px);
		transition: 0.2s all;
		cursor: pointer;
	}


	.long-card {
		background-color: #5b708877;
		box-shadow: inset 0 8px 19px 0px #00000036, 0 8px 19px 0px #00000000;
		color: #bce7ff;
		padding: 40px;
		border-radius: 20px;
		position: relative;
		width: 100%;
		transition: 0.2s all;
		text-align: left;
		font-size: 1em;
	}

	.large-title {
		font-size: 4em;
		margin: 0px;
	}
	
	@media only screen and (max-width: 940px) {
		#nav {
			position: inherit;
			width: max-content;
			margin: 50px auto 0px;
		}
	}
	#nav button {
		background: none;
		padding: 17px 23px;
		color: #bce7ff;
		font-weight: 400;
		font-size: 16px;
		border-radius: 10px;
		transition: all 0.2s;
	}
	#nav button:hover {
		background-color: #bce7ff33;
		border-radius: 20px;
	}
	#nav button:disabled {
		background: #bce7ff;
		color: #000;
		border-radius: 20px;
	}

	#info {
		background-color: #5b708877;
		box-shadow: inset 0 8px 19px 0px #00000036;
		color: #bce7ff;
		margin: 0px 0px 20px auto;
		width: fit-content;
		border-radius: 20px;
		padding: 17px 23px;
	}
	@media only screen and (max-width: 1000px) {
		#info {
			opacity: 0;
			pointer-events: none;
		}
	}

	.big-card {
		background-color: #5b708877;
		box-shadow: inset 0 8px 19px 0px #00000036;
		color: #bce7ff;
		padding: 50px 75px;
		border-radius: 20px;
		position: relative;
	}}
	.big-card h1 {
		font-size: 100px;
		font-weight: 700;
		line-height: 100px;
	}
	@media only screen and (max-width: 620px) {
		.big-card h1 {
			font-size: 60px;
			line-height: 55px;
		}

		.big-card {
			padding-left: 40px;
		}

		.big-card i {
			visibility: hidden;
		}
	}
	.big-card i {
		width: 150px;
		height: 150px;
		font-size: 150px;
		opacity: 0.5;
		position: absolute;
		top: 20px;
		right: 30px;
	}

	.cards {
		margin: 25px 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 25px;
	}
	@media only screen and (max-width: 895px) {
		.cards:not(:first-child(.cards .contact-card)) {
			flex-direction: column;
		}
		.small-card {
			width: calc(100% - 12.5px);
		}
		.small-card h1 {
			font-size: 40px;
		}
		.long-card {
			width: 100% !important;
			height: auto;
		}
	}
	.small-card:hover,  .small-card-highlight:hover {
		transform: translateY(-2px);
		box-shadow: inset 0 8px 19px 0px #00000000, 0 8px 19px 0px #00000036;
	}
	.small-card h1,  .small-card-highlight h1 {
		font-size: 60px;
		font-weight: 700;
		text-align: left;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	@media only screen and (max-width: 1190px) {
		.small-card h1,  .small-card-highlight h1 {
			font-size: 40px;
		}
	}
	.small-card i,  .small-card-highlight i {
		width: 40px;
		height: 40px;
		font-size: 40px;
		opacity: 0.5;
		position: absolute;
		top: 20px;
		right: 30px;
	}